{{#if exists}}
<br>
<div class="card bg-light">
  <div class="card-header">
    <h5 class="card-title">Result</h5>
  </div>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Binary</h6>
    <p class="card-text">
      <span style='color:red'>{{sign}}</span>
      <span style='color:blue'>{{cf}}</span>
      <span style='color:green'>{{econt}}</span>
      <span style='color:black'>{{dense}}</span>
    </p>
    <h6 class="card-subtitle mb-2 text-muted">Hex</h6>
    <p class="card-text">{{hex}}</p>
  </div>
</div>
{{/if}}